/* ========== SECTIONS ========== */

.section-container {
  padding: 4rem 1.5rem;
}

.inner-container {
  max-width: 75rem;
  margin: 0 auto;
}

.section-heading {
  --fs-section: 2.75rem;
  --lh-section: 3.5rem;
  font-family: "Lora", serif;
  font-size: var(--fs-section);
  line-height: var(--lh-section);
  font-weight: var(--fw-medium-2);
  color: hsl(var(--green-1));
  text-align: center;
}

.sub-heading {
  --fs-section: 2rem;
  --lh-section: 2.4rem;
  font-family: "Lora", serif;
  font-size: var(--fs-section);
  line-height: var(--lh-section);
  font-weight: var(--fw-medium-2);
  color: hsl(var(--green-1));
}

.p-text {
  font-size: 1rem;
  color: hsl(var(--green-1));
}

/* ========== FORM CONTROLS ========== */

input[type="radio"] {
  accent-color: hsl(var(--primary));
}

